img{
 width: 100%;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* float: left; */
  /* position: absolute;
  top: 0;
  margin: 0;
  right: 60px; */
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
}
.to_do{
  width: 50%;
  min-width: 300px;
  max-width: 450px;
  position: relative;
  top: -250px;
  color: #fff;
}
/* .moon_icon{
  font-size: 26px;
} */
.todo_form input{
  height: 40px;
  width: 100%;
  border-radius: 6px 0 0 6px;
  border: none;
  padding: 4px 8px;
  font-size: 18px;
}
.todo_form{
  display: flex;
  justify-content: space-around;
}
.todo_form button{
  width: 42px;
  font-size: 26px;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #fff;
}
.todo_item{
  position: relative;
}
.cross_icon{
  position: absolute;
  right: 12px;
  top: 16px;
  /* z-index: 50; */
}
.main_list{
  color: hsl(235, 19%, 35%);
  background-color: white;
  margin: 18px 0;
  border-radius: 6px;
}
.footer, .footer div{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color:  hsl(236, 9%, 61%);
} 
.footer div p{
  margin: auto 10px;
}
.todo_list p{
  padding: 14px;
  margin: 0;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  font-weight: 400;
  flex-grow: 1;
}
.inactive{
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}
.para_icon div{
  display: flex;
  justify-content: space-between;
}
.footer p:hover{
  color: hsl(237, 14%, 26%);
}
.footer{
  padding: 0 20px;
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}
